/* Top Bar Nav*/

.title-bar {
    background-color: #072141;
}

.top-bar {
  padding: 0;
}

    .desktop-top-bar .menu > li > a {
        line-height: 1.5;
    }

    .top-bar .button {
        text-align: left;
    }

    .top-bar .is-dropdown-submenu {
        border: 1px solid #2B4A6F;
    }

.site-logo {
    background-color: #072141;
}

.desktop-top-bar, .desktop-top-bar ul {
    background-color: #2B4A6F;
}

.desktop-top-bar li {
    color: white;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
    border-color: transparent transparent transparent black;
}

/* Headings */
h1 {
    padding-top: 0.5em;
}

/* Links */
a {
    color: white;
}

a:hover {
    color: #072141;
}

/* Buttons */
.button {
    background-color: #2B4A6F;
}

.button:hover {
    background-color: #072141;
}

.button.secondary {
    background-color: grey;
}

.button.secondary:hover {
    background-color: #2B4A6F;
}


/*Misc*/
#content {
    padding-top: 1em;
}

    #content h1 {
        padding-top: 0;
        font-size: 200%;
    }

    #content h2 {
        font-size: 150%;
    }

.recipe-list-view  {
    border: none;
    background-color: #efefef;
}

    .recipe-list-view:hover {
        color: #072141;
    }


/*Preventing FOUC*/
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}