/* Top Bar Nav*/

.top-bar {
  padding: 0;
}

    .top-bar .button {
    text-align: left;
    }

    .top-bar .is-dropdown-submenu {
        border: 1px solid #777777;
    }

.site-logo {
    background-color: red;
}

.desktop-top-bar, .desktop-top-bar ul {
    background-color: #777777;
}

.desktop-top-bar li {
    color: white;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: black rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {
    border-color: transparent transparent transparent black;
}

/* Headings */
h1 {
    padding-top: 0.5em;
}

/* Links */
a {
    color: white;
}

a:hover {
    color: red;
}

/* Buttons */
.button {
    background-color: red;
}

.button:hover {
    background-color: green;
}

/*Misc*/
#content {
    padding-top: 1em;
}

    #content h1 {
        padding-top: 0;
        font-size: 200%;
    }

    #content h2 {
        font-size: 150%;
    }

/*Preventing FOUC*/
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }

  .no-js .title-bar {
    display: none;
  }
}